/*

.rst-content p,
.rst-content li,
.rst-content dd {
    text-align: justify;
}

*/
div.admonition.name-value-args { 
    background-color: #f7f1cc !important;
}

div.admonition.name-value-args > .admonition-title {
    font-weight: bold !important;
    color: #fff3f3 !important;
    background-color: #eedc64 !important;
}

div.admonition.export-file {
    background-color: #e0ffe0;  
}

div.admonition.export-file > .admonition-title {
    font-weight: bold;
    color: #ffffff;
    background-color: #7bc87b;  
}

html.writer-html4 .rst-content dl:not(.docutils) dl:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple)>dt, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple) dl:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple)>dt{
   border-left: 0px;
   background: none;
}

.rst-content dl dt {
    margin-bottom: 3px;
}

.rst-content dl dt.not_bold {
    font-weight: 500;
}

.rst-content code.literal, .rst-content tt.literal {
    color: #000000;
    white-space: normal;
}

span.pre {
    color: #404040;
    white-space: normal;
}

.rst-content code.xref, .rst-content tt.xref, a .rst-content code, a .rst-content tt {
    font-weight: 400;
    color: #404040;
    overflow-wrap: normal;
}

.rst-content dl dd {
    margin: 0 0 5px 15px;
    line-height: 24px;
}

.rst-content blockquote {
    margin-left: 20px;
    margin-bottom: 4px;
}

.rst-content dl {
    margin-bottom: 4px;
}

.rst-content dl ol, .rst-content dl p, .rst-content dl table, .rst-content dl ul {
    margin-bottom: 4px;
}

html.writer-html4 .rst-content dl:not(.docutils) dl:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple)>dt, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple) dl:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple) dl.mat.method >dt{
    margin-bottom: 6px;
    border: none; 
    border-left: 3px solid #6ab0de;
    background: #e7f2fa;; 
    color: #555; 
}

html.writer-html4 .rst-content dl:not(.docutils) dl:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple)>dt, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple) dl:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple) dl.mat.staticmethod >dt{
    margin-bottom: 6px;
    border: none; 
    border-left: 3px solid #6ab0de;
    background: #e7f2fa;; 
    color: #555; 
}

html.writer-html4 .rst-content dl:not(.docutils) dl:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple)>dt, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple) dl:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple) dl.mat.attribute >dt{
    margin-bottom: 6px;
    border: none; 
    border-left: 3px solid #6ab0de;
    background: #e7f2fa;; 
    color: #555; 
}


div.members.docutils.container > dl > dt{
    margin-bottom: 6px;
    border: none; 
    border-left: 0px ;
    background: none;
    font-size: 20px;
    color: #555; 
    padding: 12px 0px;
}
/* return param box e param italics
em {
    font-style: normal;
    max-width: 100%;
    background: #fff;
    border: 1px solid #e1e4e5;
    font-size: 75%;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, Courier, monospace;
    overflow-x: auto;
}

em.sig-param{
    font-style: italic;
    background: none;
    border: 0px;
    font-size: 100%;
    color: #3a3a3a;
}
*/ 

/*  
    italics for return param box e param italics
*/

code.xref.mat.mat-obj {
    font-style: italic;
    background: none;
    border: 0px;
    color: #404040;
    font-size: 100%;
    font-family: Lato, proxima-nova, Helvetica Neue, Arial, sans-serif;
    padding: 2px 0px;
}
